<div class="wrapper wrapper-full-page">
  <div class="page-header lock-page header-filter"
       style="background-image: url('../../../assets/img/back-office.jpg'); background-size: cover; background-position: center center;">
    <img class="logo-bcca-top-right" height="90" src="../../../assets/img/bcca-logo-white.svg" width="70">
    <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->
    <div class="container">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="card text-center">

          <div class="card-header ">
            <div>
              <img class="img" src="../../../assets/img/bcca_logo_green.svg" width="62">
            </div>
          </div>

          <div class="card-body">
            <h4 class="card-title margin-bottom-10">An error has occurred, please try again later.</h4>


          </div>
          <div class="card-footer justify-content-center padding-0">

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

